#  Local .terraform directories
**/.terraform/*

# Local code directories
**/build/*
**/builds/*
**/node_modules/*

# python
secrets.py
**/__pycache__/*

# .tfstate static_site
*.tfstate
*.tfstate.*

# plan static_site
plan.out
*.zip

.idea
.iml

.DS_Store
