/* App.css */

/* Common styles for both mobile and desktop */
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.App-header {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .feedback-category ul {
    list-style: none;
    padding-left: 0;
    background-color: #333;
  }

  .feedback-category h3 {
    color: #FFCE56;
    background-color: #333;
  }
}

/* Desktop styles */
@media screen and (min-width: 601px) {
  .App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }

  .header-text {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .data-time {
    font-size: 0.875rem;
    margin-bottom: 20px;
  }

  .charts-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .pie-chart {
    margin: 10px;
    flex-basis: 50%;
  }

  .chart-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .phrases-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .feedback-phrases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
  }

  .feedback-category {
    flex: 0 0 48%;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 200px;
  }

  .feedback-category h3 {
    color: #FFCE56;
    margin-bottom: 10px;
    text-align: center;
  }

  .feedback-category ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  .feedback-category li {
    font-size: 0.875rem;
    margin-bottom: 5px;
  }

  .error {
    color: red;
    margin-top: 20px;
  }
}
