body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

.App-header {
    margin-bottom: 20px;
}

.email-count-banner {
    background-color: #607D8B;
    color: white;
    padding: 40px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.email-count-banner span {
    font-size: 2rem;
}

.email-count {
    font-size: 8rem;
    color: #ffeb3b;
    font-weight: bold;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .feedback-category {
        background-color: #333;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .feedback-category h3 {
        color: #FFCE56;
        margin-bottom: 10px;
    }

    .feedback-category ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .feedback-category li {
        margin-bottom: 5px;
    }

    .email-count-banner {
        flex-direction: column;
        padding: 20px;
        margin: 20px 0;
    }

    .email-count-banner span, .email-count {
        font-size: 3rem;
    }

    .email-count {
        font-size: 6rem;
        margin-left: 0;
    }
}

@media screen and (min-width: 601px) {
    .App {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
    }

    .header-text {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .data-time {
        font-size: 0.875rem;
        margin-bottom: 20px;
    }

    .charts-section {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .chart-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .pie-chart {
        margin: 10px;
        flex-basis: 50%;
    }

    .chart-title {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .phrases-section h2 {
        text-align: center;
    }

    .feedback-category {
        flex: 0 0 48%;
        margin: 10px;
        padding: 10px;
        background-color: #333;
        border-radius: 8px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        min-height: 200px;
    }

    .feedback-category h3 {
        color: #FFCE56;
        margin-bottom: 10px;
    }

    .feedback-category ul {
        list-style: none;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .feedback-phrases-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
    }

    .feedback-category {
        align-items: center;
        background-color: #333;
        border-radius: 8px;
        box-sizing: border-box;
        color: white;
        flex: 1 1 calc(50% - 20px);
        margin: 10px;
        min-height: 200px;
        padding: 10px;
    }

    .feedback-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .error {
        color: red;
        margin-top: 20px;
    }
}
